{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block page_title %}User Profile{% endblock %}
{% block breadcrumb %} password change{% endblock %}
{% block title_tag %}Password Change{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-12">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{message.tags}}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
      <div class="alert alert-success">Your password has been changed !</div>

    </div>
  </div>
{% endblock %}      