{% extends 'home.html' %}
{% block title %}
	Blood Bank | Home
{% endblock %}
{% block content %}
<div class="row">&nbsp;</div>
<div class="row content">
	<div class="col-md-12">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto fugit officiis porro pariatur nemo eius, autem impedit dolorum ipsum, deserunt facilis velit quibusdam sunt alias voluptatem repellendus repellat, voluptate non!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, incidunt? Commodi itaque molestiae in magni molestias amet sint rem porro illo ipsum deserunt reprehenderit aut quas, autem temporibus quibusdam, enim.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, a explicabo eligendi molestiae nisi vero atque, ex commodi voluptatum sit nulla iste aspernatur vel enim minus ad, alias odit deleniti.</p>
	</div>
</div>
	
{% endblock %}