{% extends 'home.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% block title %}
	Registration Successful
{% endblock %}
{% block content %}
	<div class="row">&nbsp;</div>
	<div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="alert alert-success">
                <p>Thank you for your request ! We have created your account. Please login to your panel using your chosen username and password to update your presonal information !</p>
            </div>
        </div>
        <div class="col-md-2"></div>
	</div>
{% endblock %}	