{% extends 'home.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% block title %}
	Let Us Know
{% endblock %}
{% block content %}
	<div class="row">&nbsp;</div>
	<div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="alert alert-success">
                <p>Thank you for your query ! We will get in touch with you within 12 hours. Please check your provided email to know the reply from us !</p>
            </div>
        </div>
        <div class="col-md-2"></div>
	</div>
{% endblock %}	